@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* //////////////// Color Variables //////////////// */
:root {
    --black: #1B1C1D;
    --dark-grey: #232425;
    --grey: #757575;
    --light-grey: #697A88;
    --white: #EAEAEA;
    --green: #8FD694;
    --red: #bf4f30d6;
    --blue: #4355FA;
}

/* //////////////// Global styles //////////////// */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: rubik;
    font-weight: 400;
    color: var(--white);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*:not(#background-video){
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* //////////////// Nav styles //////////////// */
nav{
    background-color: var(--dark-grey);
    padding: 6px 0;
    width: 100%;
}

    /* nav layout */
nav, nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* nav icon size */
nav img{
    width: 40px;
}

    /* add space to the left of nav bar */
nav .left-side{
    width: 190px;
    margin-left: 45px;
}

    /* nav liks layout */
nav .right-side{
    width: 300px;
    margin-right: 45px;
}

    /* remove nav links default styling */
nav .right-side a{
    text-decoration: none;
}
/* ///////////////////////////////////////////// */

/* //////////////// Main styles //////////////// */
main{
    flex: 1;
    display: flex;
}

::-webkit-scrollbar {
    width: 10px; /* scrollbar width */
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--green); /* thumb color */
}

::-webkit-scrollbar-track {
    background-color: var(--dark-grey); /* track color */
}

main #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensures the video is positioned behind other content */
}

main #background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* TODO: BACKGROUND LOGO 

main #background-logo{
    z-index: -2;
}

main #background-logo img{
    z-index: -2;
} */


main .services-section{
    padding: 1rem;
    width: 50%;

    display: flex;
    flex-direction: column;
}

main .services-section h1{
    font-size: 1.5rem;
    font-weight: 600;
}

main .services-section h2{
    font-size: 1.2rem;
    font-weight: 200;
}

main .services-section .filter-row{
    display: flex;
    justify-content: space-between;
}

main .services-section .filter-row select{
    background-color: var(--dark-grey);
    border: none;
    padding: 0 20px;
}

main .services-section .services-container{
    margin-top: .5rem;
    padding: .5rem;

    display: flex;
    flex-wrap: wrap;
}

main .services-section .service-card{
    background-color: var(--dark-grey);
    padding: .5rem;
    margin: .1rem;
    width: 180px;
    height: 120px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .services-section .service-card:hover{
    background-color: #2C2D2F;
}

main .services-section .service-card .service-title{
    font-size: .9rem;
    font-weight: 600;
}

main .services-section .service-card .service-subtitle{
    font-size: .7rem;
}

main .services-section .service-card .service-price{
    color: var(--green);
    font-size: .8rem;
}

main .services-section .service-card .service-link{
    font-size: .6rem;
}

main .calendar-section{
    padding: 1rem;
    width: 50%;

    display: flex;
    flex-direction: column;
}

main .calendar-section .calendar-header h1{
    font-size: 1.5rem;
    font-weight: 600;
}

main .calendar-section .calendar-header h2{
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: .5rem;
}

main .calendar-section > div{
    width: 100%;
}

main .calendar-section .date-link{
    margin-top: 1rem;
}

main .calendar-section .date-link a{
    font-size: .6rem;
    color: var(--white);
}

main .calendar-section .calendar{
    margin-top: .8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
  
main .calendar-section .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

main .calendar-section .calendar li{
    width: 35px;
    font-size: 1.07rem;
}

main .calendar-section .calendar .weeks li{
    padding-bottom: .2rem;
    border-bottom: 1px solid #424242;
    font-weight: 500;
    cursor: default;
}

main .calendar-section .calendar .days li{
    z-index: 1;
    cursor: default;
    position: relative;
    margin-top: .5rem;
}

main .calendar-section .days li.inactive{
    color: var(--grey);
}

main .calendar-section .days li.active{
    color: #fff;
}

main .calendar-section .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

main .calendar-section .days li:not(.inactive){
    cursor: pointer;
}

main .calendar-section .days li.active::before{
    background: var(--blue);
}

main .calendar-section .days li:not(.active):not(.inactive):hover::before{
    background: #717171;

}
/* main .calendar-section .days li:not(.inactive):hover::before{
    background: #717171;
} */

main .calendar-section .hour-side{
    margin-top: 1rem;
}

main .calendar-section .hour-side .time-slots{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .calendar-section .hour-side .time-slots a:hover{
    background-color: #8b3724;
}

main .calendar-section .hour-side .time-slots a{
    background-color: var(--red);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 1rem;
    margin: .3rem;
    /* width: 8rem; */
}

/* //////////////// Footer styles //////////////// */
footer{
    background-color: var(--dark-grey);
    padding: 10px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .icons{
    width: 150px;

    display: flex;
    justify-content: space-around;
}

footer .icons img{
    width: 2rem;
}

/* //////////////// Responsive Design //////////////// */
@media (max-width: 1065px) {
    /* Styles for screens smaller than 600px */
    main .calendar-section{
        flex-direction: column;
    }

    main .calendar-section .date-side,
    main .calendar-section .hour-side{
        width: 100%;
    }

    main .calendar-section .hour-side{
        margin-top: 1rem;
    }    
}

@media (max-width: 820px) {
    /* Styles for screens smaller than 600px */
    main{
        flex-direction: column;
    }

    main .services-section,
    main .calendar-section{
        width: 100%;
    }
}