{{ define "main" }}
    <main>
        <h1>{{ .Title }}</h1>
        {{ range .Pages}}
            <div class="post-container">
                <div class="post-title"><a href="{{ .Params.Url }}">{{ .Title }}</a></div>
                <div class="post-info">
                    <p class="post-date">{{ .Date}}</p>
                    <p class="post-author">{{ .Params.Author}}</p>
                    <p class="post-topic">{{ .Params.Topic}}</p>
                    <p class="post-time">{{ .Params.Time}}</p>
                </div>
                <div class="post-description"><i>{{ .Params.Description}}</i></div>
            </div>
            <hr>
            <br>
        {{ end }}
    </main>
{{ end }}