{{ define "main" }} {{ if eq .Params.type "post" }}
<link rel="stylesheet" href='{{ (resources.Get "./css/github-markdown.css").Permalink }}'>
<style>
	.markdown-body {
		box-sizing: border-box;
		margin: 0 auto;
    min-width: 200px;
		max-width: 980px;
		padding: 45px;
    background-color: #1B1C1D;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
  ul {
    list-style: none; /* Remove bullet points */
    padding: 10 0 0 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .space {
    padding: inherit;
  }
</style>
<div class="container">
  <main>
    <a href="/">Go back</a>
    <div class="markdown-body">{{ .Content }}</div>
  </main>
  <aside>
    <div class="push aside-content">


      {{/*  <div class="categories-container space">
        <h3 class="categories">Categories</h3>
        <ul>
          {{ range .Site.Taxonomies.categories }}
            <li>
              <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="tags-container space">
        <h3 class="tags">Tags</h3>
        <ul>
          {{ range .Site.Taxonomies.tags }}
            <li>
              <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>  */}}
        <h2>Need help with this?</h2>
        <h3>Let us handle your needs</h3>
      <div
          class="calendly-inline-widget"
          data-url="https://calendly.com/d/z7q-zjf-v2r/initial-consultation-call?hide_event_type_details=1&hide_gdpr_banner=1&background_color=232425&text_color=eaeaea&primary_color=8fd694"
          style="height:fit-content; display: inline-block;"
          ></div>
        <script
          type="text/javascript"
          src="https://assets.calendly.com/assets/external/widget.js"
          async
        ></script>
    </div>
  </aside>
</div>
{{ else }}
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main h1 {
    padding: 1rem 0;
    font-weight: 600;
  }

  main .content {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1,
  p {
    color: var(--grey);
  }
</style>

<main>
  <h1>{{ .Title }}</h1>
  <div class="content">{{ .Content }}</div>
</main>
{{ end }} {{ end }}
