{{ define "main" }}
<main>
  <div id="background-video">
    <video autoplay muted onended="this.style.display = 'none';" alt="Flame video">
      <source
        src='{{ (resources.Get "img/Flame-9049.mp4").Permalink }}'
        type="video/mp4"
      />

      Your browser does not support the video tag.
    </video>
  </div>
  <!-- TODO: Background logo
            <div id="background-logo">
            <img src="./img/main_logo.png" alt="">
        </div> -->
  <div class="main-container">
    <div class="services-section">
      <div class="jumbotron">
        <h1 class="main-title">
          <div><strong>Focus on your core business</strong></div>
          <div class="dynamic-title">let us handle your <span class="title-keyword">DevOps</span> needs</div>
        </h1>
        <h2>
          <div><strong>First time customer?</strong></div>
          Revolutionize your efficiency with our stellar DevOps solutions at launch-ready prices!
        </h2>
      </div>
      {{/*
      <div class="filter-row">
        <p></p>
        <select name="" id="">
          <option value="">Security</option>
          <option value="">Containers</option>
          <option value="">Performance</option>
          <option value="">Troubleshooting</option>
          <option value="">Bundles</option>
          <option value="">Pipelines</option>
        </select>
      </div>
      */}}
      <div class="services-container">
        {{ range .Site.Data.services }} {{ $lowercase := lower .topic }} {{
        $hyphenatedt_topic := replace $lowercase " " "-" }}
        <div
          class="service-card {{ $hyphenatedt_topic }}"
          onclick="serviceLink(event)"
          style="background-image: url({{ .background_image_url }});">
          <div>
            <p class="service-title">{{ .title }}</p>
            <p class="service-topic">{{ .topic }}</p>
          </div>
          <div>
            <p class="service-price">{{ .price }}</p>
            <a href="{{ .link }}" target="_blank" class="service-link">Explore solution</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="calendar-section">
      <div class="calendar-header">
        <h2>
          <strong>Schedule Consultation</strong>Book a 30-minute slot to discuss your needs and discover tailored solutions.
        </h2>
      </div>

      <!-- Calendly inline widget begin -->
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/d/z7q-zjf-v2r/initial-consultation-call?hide_event_type_details=1&hide_gdpr_banner=1&background_color=232425&text_color=eaeaea&primary_color=8fd694"
      ></div>
      <script
        type="text/javascript"
        src="https://assets.calendly.com/assets/external/widget.js"
        async
      ></script>
      <!-- Calendly inline widget end -->

      <!-- <div class="date-side">
            <div class="calendar">
                <ul class="weeks">
                    <li>S</li>
                    <li>M</li>
                    <li>T</li>
                    <li>W</li>
                    <li>T</li>
                    <li>F</li>
                    <li>S</li>
                </ul>
                <ul class="days">
                    <li id="day0" onclick="selectDate('0')"></li>
                    <li id="day1" onclick="selectDate('1')"></li>
                    <li id="day2" onclick="selectDate('2')"></li>
                    <li id="day3" onclick="selectDate('3')"></li>
                    <li id="day4" onclick="selectDate('4')"></li>
                    <li id="day5" onclick="selectDate('5')"></li>
                    <li id="day6" onclick="selectDate('6')"></li>
                </ul>
                <div class="date-link">
                    <a href="https://calendly.com/reyes256/service-meeting" target="_blank">Looking Further</a>
                </div>
            </div>
        </div>
        <div class="hour-side">
            <h3>Available Time Slots</h3>
            <h4 class="selected-date"></h4>
            <div class="time-slots">
                <a>2:00 - 2:30 PM</a>
                <a>2:30 - 3:00 PM</a>
                <a>3:30 - 4:00 PM</a>
            </div>
        </div> -->
    </div>
  </div>
</main>
{{ end }}